@use '../util' as u;

.container {
  width: calc(100% - u.rem(48));
  max-width: u.rem(1200);
  margin: 0 auto;
  padding: u.rem(20) 0;

  @include u.breakpoint(large) {
    padding: u.rem(40) 0;
  }
}



// .page {
//     width: 90vw;
//     max-width: var(--max-width);
//     margin: 0 auto;
//   }
//   .page {
//     padding-top: 2rem;
//     min-height: calc(100vh - (6rem + 4rem));
//   }